fastapi>=0.110.0
uvicorn[standard]>=0.28.0
redis>=5.0.3
psycopg2-binary>=2.9.9
prometheus-client>=0.20.0
protobuf>=4.25.3
pandas>=2.2.1
numpy>=1.26.4
scikit-learn>=1.4.1.post1
xgboost>=2.0.3
groq>=0.5.0

python-dotenv>=1.0.1
loguru>=0.7.2
pytest>=8.1.1
asyncpg>=0.29.0
pip-system-certs>=4.0
